<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>daily</title>
  </head>
  <body>
    <%- include('./components/_header'); %>
    <table class="min-w-full leading-normal">
      <thead>
        <tr>
          <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 tracking-wider">社名</th>
          <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 tracking-wider">社員番号</th>
          <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 tracking-wider">氏名</th>
          <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 tracking-wider">所属</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center"><%= user_info.company_name%></td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center"><%= user_info.emp_num%></td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center"><%= name%></td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center"><%= user_info.deployment_name%></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>